.styled-button {
    padding: 10px 20px 15px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #002B5B;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
}

.btn-text{
    color: white;
    text-decoration: none;
}

/* Icon styling */
.MuiSvgIcon-root {
    margin-left: 8px; /* Space between text and icon */
    font-size: 25px;
}

/* Hover effect */
.styled-button:hover {
    background-color: #0056b3; /* Darker background on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

@media (max-width: 435px) {
    .styled-button {
        padding: 10px;
        font-size: 10px;
        font-weight: 200;
    }
}